<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Index Page</title>
</head>
<body>
    <div th:align="center" sec:authorize="hasRole('SYS_ADMIN')">
        <h4>Welcome Admin</h4>
        <a th:href="${'sys-admin/home'}">Home</a>
    </div>

    <div th:align="center" sec:authorize="hasRole('COTTAGE_OWNER')">
        <h4>Welcome Cottage Owner</h4>
        <a th:href="${'cottage-owner/home'}">Home</a>
    </div>

    <div th:align="center" sec:authorize="hasRole('BOAT_OWNER')">
        <h4>Welcome Boat Owner</h4>
        <a th:href="${'boat-owner/home'}">Home</a>
    </div>

    <div th:align="center" sec:authorize="hasRole('CLIENT')">
        <h4>Welcome Client</h4>
        <a th:href="${'client/home'}">Home</a>
    </div>

    <div sec:authorize="hasRole('INSTRUCTOR')" th:align="center">
        <h4>Welcome Instructor</h4>
        <a th:href="${'instructor/home'}">Home</a>
    </div>
</body>
</html>